# App
PORT=3001
NODE_ENV=development
API_VERSION=v1
BASE_URL=http://localhost:3001

# database variables
DATABASE_HOST=localhost
DATABASE_PORT=1433
DATABASE_USER=sa
DATABASE_PASSWORD='Travel@2026!'
DATABASE_NAME=complimentary_travel
INSTANCE_NAME=SQLEXPRESS01
DATABASE_SYNC=true
DATABASE_LOAD=true

# smtp variables
MAIL_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_SECURE=false

AZURE_STORAGE_CONNECTION_STRING=
ALLOWED_ORIGINS=
AZURE_STORAGE_CONTAINER_NAME=passports